.form-container {
    width: 38rem;

    form {
        display: grid;
        grid-template-columns: 50% 50%;
        // grid-template-rows: 1fr auto auto;
    
        grid-row-gap: 3rem;
        grid-column-gap: 3rem;
    }

    .field-container {
        grid-column: 1 / 3;

        display: flex;
        flex-direction: column;

        &__inputs {
            display: flex;

            & input:not(:last-child) {
                margin-right: 1rem;
            }
        }

        &__submit {
            grid-column: 1 / 3;
        }

        &--exp-date {
            grid-column: 1 / 2;
        }

        &--cvc {
            grid-column: 2 / 3;
        }

        label {
            font-size: 1.2rem;
            text-transform: uppercase;
            color: var(--color-very-dark-violet);
            letter-spacing: .1rem;
            margin-bottom: .5rem;
        }

        input {
            padding: 1.4rem;
            border: 2px solid var(--color-light-grayish-violet-transparent);
            border-radius: .5rem;
            font-family: inherit;
            font-weight: inherit;
            font-size: inherit;
            color: var(--color-very-dark-violet);
            width: 100%;
            margin-bottom: .5rem;

            &[name]:focus {
                outline: none;
                border-top: 2px solid var(--color-border-active-from);
                border-left: 2px solid var(--color-border-active-from);
                border-right: 2px solid var(--color-border-active-to);
                border-bottom: 2px solid var(--color-border-active-to);
            }
        }
    }

    .error-message {
        color: var(--color-red);
        font-size: 1.2rem;
    }
}